.kotakatasbaru {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    background-color: #191a1b;
    align-items: top;
}

.itemheader {
    color: rgb(255, 255, 255);
    text-align: center; color: #ffff;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.itemtext {
    text-align: center; color: #ffff;
    font-size: large;
    font-family: Arial;
}
.searchbarbaru {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 0px;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
}

.searchinput {
    background-color: #ffffff;
    border: none;
    height: 30px;
    color: white;
    font-size: medium;
    font-family: Arial;
}

.itemicn {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    justify-content: end;
    height: 50px;
    margin-right: -730px;
    background-color: #191a1b;
}

.kotakkiri {
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100%;
    background-color: #191a1b;
    color: white;
    padding: 10px;
}
.menu {
    display: flex;
    flex-direction: row;
}

.menuwithicon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.kotakutama {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px;
}

.utamaheader {
    color: white;
    color: #ffff;
    font-size: 30px;
    font-weight: bold;
}

.utamatext {
    color: #ffff;
    font-size: large;
    font-family: Arial;
}

.friendlist {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
}

.bola {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 200%;
}

.imgwithtext {
    
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}
